#disco{
    .checkbox{
        margin-right:13px;
    }
    .toggle-btn {
        .arrow {
            text-decoration: none;
            margin-right: 15px;
        }

    }
    .active{   
        .arrow {
            font-size: 14px;
        }
    }
    .info-block {
        border: 1px solid #ddd;
        margin-top: 15px;
        .toggle-btn {
            display: ruby-text;
            background: #fff;
            text-decoration: none;
            margin-left: -1px;
            margin-top: -5px;
            padding-right: 10px;
            padding-bottom: 5px;
            .toggle-text {
                text-decoration: underline;
            }
        }
        .info-content {
            margin: 0 20px;
        }
    }
    .discoInline{
        li {
            display: inline-block;
        }
        li:nth-child(2){
            margin-left: 15px;
            padding-left: 15px;
            border-left: 1px solid #ddd;
        }
    }
    
    .metadataQuality{
        font-size: 16px;
    }
    
    .results_score, .results_application{
        display: inline-block;
        margin-right: 20px;
    }
     .badge svg{
        max-width: 70px;
    }
     
    .results_requiremens{
        color:#228B22; 
        font-weight: bold;
    }
    
    .not_fulfilled{
        opacity: 0.4;
        color: #ff0000;
        font-weight: normal;
    }
}

