.disco_footer_badges{
    .pkp_structure_footer {
        margin: auto;
    }
    svg{
        max-height: 80px;
        margin: 15px;
    }
    @media (min-width: 768px) {
        .pkp_structure_footer {
            width:728px;
            padding: 0
        }
    }

    @media (min-width: 992px) {
        .pkp_structure_footer {
            width:952px
        }
    }

    @media (min-width: 1200px) {
        .pkp_structure_footer {
            width:1160px
        }
    }
}

